#game {
  width: 100%;
  height: 100%;
  .power-bg {
    filter: saturate(5);
  }
  .header {
    height: 120px;
  }
  .level-title {
    text-align: center;
    font-size: 60px;
    color: red;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  .user-info {
    padding: 10px
  }
  .skill-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .skill-button {
    margin: 10px;
    height: 200px;
    width: 200px;
    font-size: 100px;
  }

  .boss-info {
    padding: 10px;
  }
  .boss-name {
    text-align: right;
    padding-right: 5px;
  }
  .border-small-text {
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
  .header-flag {
    font-size: 20px;
    margin-top: 5px;
  }

  .troller-1 {
    position: absolute;
    left: 50px
  }
  .troller-2 {
    position: absolute;
    right: 50px;
    transform: rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
  }
}