<section id="select">
  <Background v-if="game.players" :page="'select'" :id="game.background">
    <div class="troller-name">
      <span>
       {{ game.players[user.id].troller_name }}
      </span>
      <span>
       {{ game.players[game.user_id_maps[user.id]].troller_name }}
      </span>
    </div>
    <div>
      <Troller class="troller-1" :face="game.players[user.id].troller_id" />
      <Troller class="troller-2" :face="game.players[game.user_id_maps[user.id]].troller_id" />
    </div>
    <div class="foot-content">
      <button type="button" class="btn btn-danger btn-lg mr-4 float-left" @click="exitGame()">
        {{ trans('select', 'exitGame') }}
      </button>
      <button v-if="!game.players[user.id].is_ready" type="button" class="btn btn-success btn-lg float-left" @click="setReadyGame(1)">
        {{ trans('select', 'readyButton') }}
      </button>
      <button v-if="game.players[user.id].is_ready" type="button" class="btn btn-danger btn-lg float-left" @click="setReadyGame(0)">
        {{ trans('select', 'cancelReadyButton') }}
      </button>
      <span class="text-white shadow-danger font-18">
        <Fa class="text-danger" :icon="['fas', 'gamepad']"/> {{ trans('select', 'readyNoti') }}
      </span>
      <button v-if="game.players[game.user_id_maps[user.id]].is_ready" type="button" class="btn btn-success btn-lg float-right">
        {{ trans('select', 'enemyReadyButton') }}
      </button>
      <button v-if="!game.players[game.user_id_maps[user.id]].is_ready" type="button" class="btn btn-light btn-lg float-right">
        {{ trans('select', 'waitEnemyReadyButton') }}
      </button>
    </div>
    <div class="select-troller-container">
      <div class="d-flex justify-content-center">
        <div v-for="(item, key) in trollList" :key="'troller-' + key" @click="selectTroller(item.troller_id)" :id="`troller-index-${item.troller_id}`">
          <Avatar :type="'troller'" :id="item.troller_id" class="troller-avatar" :is_selected="game.players[user.id].troller_id == item.troller_id"/>
          <div>
            <b-popover triggers="hover focus" placement="top" :target="`troller-index-${item.troller_id}`">
            <TrollerIndex :troller="item"/>
          </b-popover>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div v-for="(item, key) in backgroundList" :key="'background-' + key" @click="selectBackground(item.id)">
          <Avatar :is_selected="item.id == game.background" :type="'background'" :width="'300px'" :height="'150px'" :id="item.id" class="troller-avatar"/>
        </div>
      </div>
    </div>
    <Confirm :confirmOpen.sync="confirmExit" :body="trans('select', 'confirmExitBody')" @confirm="isConfirmExit()"/>
    <Confirm
      :confirmOpen.sync="notiGameIsCancel"
      :title="trans('select', 'notiTitle')"
      :body="trans('select', 'notiGameIsCancel')"
      :okTitle="trans('select', 'backToRoom')"
      @confirm="backToRoom()"
    />
  </Background>
</section>
