<section class="troller-index">
  <table>
    <tbody>
      <tr>
        <td colspan="2" class="font-weight-bold">{{ troller.troller_name }}</td>
      </tr>
      <tr>
        <td style="width: 120px">
          <Fa :icon="['fas' ,'gavel']"/>
          {{ trans('select', 'trollerAtk') }}
        </td>
        <td>
          {{ troller.min_atk }} ~ {{ troller.max_atk }}
        </td>
      </tr>
      <tr>
        <td>
          <Fa :icon="['fas' ,'heart']"/>
          {{ trans('select', 'trollerHp') }}
        </td>
        <td>
          {{ troller.max_hp }}
        </td>
      </tr>
      <tr>
        <td>
          <img :src="serverLink(`/game/trollers/${troller.troller_id}/unti.jpg`)" width="50">
        </td>
        <td>
          <div>
            <Fa :icon="['fas' ,'bolt']"/>
            {{ trans('select', 'trollerUnti') }}
          </div>
          <div class="text-danger">
            {{ troller.unti_name }}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="font-italic" v-html="troller.unti_desc"></div>
          {{ trans('select', 'trollerUntiTime') }}: {{ troller.unti_time }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <Fa :icon="['fas' ,'user']"/>
          {{ trans('select', 'trollerDesc') }}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="font-italic pl-3">
          {{ troller.desc }}
        </td>
      </tr>
    </tbody>
  </table>
</section>

